body {
    background: url("../images/background.jpg");
}

th {
    text-align: center;
}

input {
    text-align: center;
}

#add-song{
  text-align: center;
  border: 1px solid #434373;
  padding: 10px;
}
